
.tip {
    width: 100%;
    background-color: #ebebfc;
    border-radius: 0.62rem;
    color: #4f4fb9;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tip h3 {
    font-size: 1.25rem;
    font-size: 700;
}
.tip p {
    font-size: 1rem;
    margin-top: 0.31rem;
}
.tip > img {
    height: 2rem;
}